<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="card card-github">
        <div class="card-header bg-github text-white cardHeader-bg">
          <h4>Github User Search</h4>
        </div>
        <div class="card-body">
          <form class="form-inline" (submit)="searchUser()">
            <div class="form-group">
              <label>
                <input [(ngModel)]="githubUserQuery" name="user" size="40" type="search" class="form-control"
                  placeholder="Github User">
              </label>
            </div>
            <div>
              <input type="submit" value="Search" class="btn btn-search btn-sm ml-2 p-1">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-github-profile [githubProfile]="githubProfile"></app-github-profile>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-github-repos [githubRepos]="githubRepos"></app-github-repos>
    </div>
  </div>
</div>
