.btn-search{
  box-shadow: 0 5px 10px black;
  border-radius: 5px;
  background-color: #7ee8fa;
  background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
}
.bg-github{
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  border-radius: 25px 25px 0 0;
}
h4{
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
}
.card-github{
  border-radius: 25px;
  box-shadow: 0 5px 15px black;
}
