.card-repos{
  border-radius: 25px;
  box-shadow: 0 5px 15px black;
}
.cardHeader-bg{
  border-radius: 25px 25px 0 0;
}
.bg-repos{
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  border-radius: 25px 25px 0 0;
}
h4{
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
}
